<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Welcome to the Admin Dashboard</h1>
    <p>Here you can manage doctors, patients, and appointments.</p>

    <button><a href="/create_department">Create Department</a></button>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for i in doctor %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.status }}</td>
                <td>
                   <button><a href="{{ url_for('approve_doctor', doctor_id=i.id) }}">Approve</a></button>
                   <button><a href="{{ url_for('reject_doctor', doctor_id=i.id) }}">Reject</a></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for dept in department %}
            <tr>
                <td>{{ dept.id }}</td>
                <td>{{ dept.name }}</td>
                <td>{{ dept.description }}</td>
                <td>
                    <button><a href="{{ url_for('edit_department', department_id=dept.id) }}">Edit</a></button>
                    <button><a href="{{ url_for('delete_department', department_id=dept.id) }}">Delete</a></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>